<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}
           {% endblock title %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" >{% block front %}{% endblock front %}</a>
        <a class="navbar-brand" href="{% url 'userinfo' user.pk %}">{{ user.username }}</a>
        {% if user.is_authenticated %}
          <a class="navbar-brand" href="{% url 'account_logout' %}">Выйти</a>
        {%else%}
          <a class="navbar-brand" href="{% url 'account_login' %}">Войти</a>
          <a class="navbar-brand" href="{% url 'account_singin' %}">Зарегистрироваться</a>

        {% endif  %}

        <div class="navbar-expand" id="navbarSupportedContent">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
            <a class="nav-link" href="{% url 'create' %}">Создать объявление</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link disabled">Disabled</a>
          </div>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>